.herosection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.headingcss {
  font-size: 4.5rem;
  letter-spacing: -2px;
}

.herosection-firstsection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.herosection-firstsection p {
  font-size: 1.4rem;
  width: 90%;
  color: gray;
}

.herosection-firstsection button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(38, 200, 38);
  font-weight: bold;
  width: 20%;
}

.herosection-firstsection button:hover {
  background-color: black;
  color: white;
}

.herosection-imagediv {
  border: 3px solid black;
  position: relative;
}

.herosection-imagestyling {
  border: 3px solid black;
  padding: 1rem;
  position: relative;
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

.herosection-imagestyling::before {
  content: "";
  position: absolute;
  background-color: red;
  height: 1rem;
  width: 1rem;
  top: 8px;
  right: 30px;

  border-radius: 10rem;
}

.herosection-imagestyling::after {
  content: "";
  position: absolute;
  background-color: yellow;
  height: 1rem;
  width: 1rem;
  top: 8px;
  right: 60px;

  border-radius: 10rem;
}
