.latestproject-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.latestproject {
  padding: 3rem 4rem;
}

.modalopen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.769);
}

.modalopen img {
  width: 75%;
  height: 75%;
  border-radius: 2rem;
}
