.cards {
  border: 2px solid black;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  width: 500px;
  transition: all ease 0.35s;
  background-color: white;
}

.cards h1 {
  font-weight: bold;
  font-size: 3rem;
}

.cards-title {
  font-weight: bolder;
  letter-spacing: -1px;
  font-size: 2rem;
}

.cards p {
  font-size: 1.4rem;
}

.cards-icon {
  font-size: 2.4rem;
  background-color: rgb(254, 226, 16);
  border-radius: 19rem;
  padding: 1rem;
  text-align: center;
}

.cards:hover {
  box-shadow: 7px 7px 0 0 black;
}

.skills-card {
  border: 2px solid black;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  padding: 1.1rem;
  width: 350px;
  transition: all ease 0.35s;
}

.skills-card:hover {
  box-shadow: 7px 7px 0 0 black;
}

.skills-icon {
  background-color: palevioletred;
  border-radius: 100%;
  font-size: 1.4rem;
  padding: 1rem 1.2rem;
  text-align: center;
}

.projectcard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border: 2px solid black;
  width: 400px;
}

.projectcard:hover {
  box-shadow: 5px 5px 0 0 black;
}

.projectcard-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.projectcard-image {
  width: 397px;
  border: 2px solid black;
}

.projectcard-image img {
  width: 100%;
  height: 100%;
}

.projectcard-icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgb(130, 130, 219);
  padding: 1rem;
  font-size: 6rem;
}

.testimonialCard {
  border: 2px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  padding: 2rem;
  gap: 2rem;
}

.testimonialCard p {
  text-align: center;
}

.testimonialCard img {
  height: 35%;
  width: 35%;
  border-radius: 100%;
}
