footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  border-top: 3px solid black;
}

.footer-icons {
  font-size: 1.5rem;
  color: gray;
  cursor: pointer;
  margin-right: 1rem;
}

.footer-icons:hover {
  color: rgb(86, 86, 86);
}

footer p {
  color: rgb(94, 94, 94);
  font-size: 1.3rem;
}
